<div id="carousel" class="carousel slide carousel-fade carousel-homepage" data-ride="carousel">
  <ol class="carousel-indicators">
    {{ range $index, $img := .Params.carousel_images }}
      <li data-target="#carousel" data-slide-to="{{ $index }}" class="{{ if (eq $index 0) }} active {{ end }}"></li>
    {{ end }}
  </ol>
  <div class="carousel-inner">
    {{ range $index, $img := .Params.carousel_images }}
      <div class="carousel-item {{ if (eq $index 0) }} active {{ end }}">
        <div class="item-{{ $index }}" style="background: url('{{ .image }}') center no-repeat;"></div>
      </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
