<footer class="border-top">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <p class="h5">{{ .Site.Title }}</p>
      </div>
    </div>
  </div>
  <div class="container copyright text-center py-3 text-sm bg-white">
    Copyright 2018 &copy; {{ .Site.Title }} &mdash; Tous droits réservés.
    Réalisé par
    <a href="http://linkomweb.com" class="font-weight-bold no-decoration">
      <span>Linkom</span>
      <img src="/img/linkomweb.png" alt="" style="width: 24px" class="align-middle">
    </a>
  </div>
</footer>