<div class="py-5">
  <section class="container">
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque deleniti tempora fugiat maiores, expedita nulla eius optio deserunt dolores perspiciatis recusandae aliquam aperiam, doloribus earum. Nulla consequuntur nobis iusto consectetur.
      </div>
      <div class="col">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, minima in quis natus iste voluptates dignissimos alias ad numquam recusandae maiores corrupti? Omnis culpa id est? Expedita praesentium facilis sint.
      </div>
    </div>
  </section>
</div>
