<div class="py-70 white-bg">
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="h2 section-title">À Propos de {{ $.Site.Title }}</p>
        <div class="text-secondary intro-paragraph">{{ .Content | markdownify }}</div>
        <a href="/about" class="button mt-55">En Savoir Plus &raquo;</i></a>
      </div>
      <div class="col-md-6 p-4">
        <img src="{{ .Params.intro_image }}" alt="" class="img-fluid rounded shadow-sm">
      </div>
    </div>
  </section>
</div>
