<section class="py-80 border-top" id="request">
  <div class="container">
    <div class="row">
      <div class="request">
        <h3 class="d-inline-block mr-4 text-primary">N'hésitez pas à nous contacter </h3>
        <div class="button-group d-inline-block">
          <a href="https://ide-net.com/contact" class="button mb-xs-30 shadow bg-info">Contactez nous <i class="material-icons">keyboard_backspace</i></a>
          <a href="http://www.solution-gprs.com/webticket/" class="button main-color white-bg ml-2 text-dark shadow" target="_blank">Demande d’assistance</a>
        </div>
      </div>
    </div>
  </div>
</section>
